@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    width: 100vw;
    height: 100vh;
    background-color: #5F2C82;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 260px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);

    transition: width .5s, height .5s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

div#imagem-predio{
    display: block;
    background-image: url(../image/predio.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

div#formulario h1{
    text-align: center;
    padding: 10px;
}

div#formulario p{
    padding: 0px 10px 10px 10px;
    font-size: 0.82em;
}

form{
    padding: 3px;
}

form > div.campo {
    display: block;
    margin: 5px auto;
    width: 90%;
    background-color: #5F2C82;
    height: 40px;
    border-radius: 10px;
}

div.campo > label{
    display: none;
}

div.campo > span{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input{
    border: 0px 0px 2px rgba(0, 0, 0, 0.329);
    background-color: rgb(15, 187, 187);
    font-size: 1em;
    width: calc(100% - 45px);
    border: none;
    height: 100%;
    border-radius: 10px;

    transform: translate(1px, -11.3px);
}

div.campo > input:focus-within{
    background-color: white;
}

form > input[type=submit]{
    display: block;
    margin: 10px auto;
    width: 90%;
    height: 40px;
    background-color: rgb(17, 95, 95);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.288);
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: rgb(26, 139, 139);
}

form > a{
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 10px auto;
    width: 90%;
    height: 40px;
    background-color: rgba(226, 226, 226, 0.514);
    color: rgb(17, 95, 95);
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid rgb(17, 95, 95);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.288);
}

form > a:hover{
    background-color: rgb(91, 187, 187);
    color: white
}

span.material-symbols-outlined {
    text-align: center;
}